:root {
  --button-bg-color: #fa3e2c;
  --button-bg-hover-color: #f97c37;
}

.review-container {
  margin-top: 50px;

  h2 {
    font-size: 2rem;

    @media (max-width: 1400px) {
      font-size: 1.2rem; /* Giảm kích thước font chữ */
    }
    @media (max-width: 1000px) {
      font-size: 1rem;
    }
  }

  .submit-review-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 35px;
    background: linear-gradient(
      to right,
      var(--button-bg-hover-color),
      var(--button-bg-color),
      var(--button-bg-hover-color),
      var(--button-bg-color)
    );
    background-size: 200% auto;
    color: white;
    text-transform: uppercase;
    border-radius: 40px;
    text-decoration: none;
    transition:
      background-position 0.3s ease,
      transform 0.3s;
    border: none;
    cursor: pointer;

    &:hover {
      background-position: right center;
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: normal; /* Bỏ font-weight bold */
      color: white; /* Màu trắng */

      @media (max-width: 1400px) {
        font-size: 0.8rem; /* Giảm kích thước font chữ */
      }
      @media (max-width: 1116px) {
        font-size: 0.6rem;
      }
    }

    @media (max-width: 1400px) {
      padding: 12px 30px; /* Giảm kích thước padding */
    }
    @media (max-width: 1116px) {
      padding: 10px 30px;
    }
  }

  .ant-rate {
    font-size: 1.5rem;

    @media (max-width: 1400px) {
      font-size: 1rem; /* Giảm kích thước font chữ */
    }
  }

  .review-input-textarea {
    width: 100%; /* Đảm bảo phần tử này chiếm 100% chiều rộng của phần tử cha */
    border-radius: 40px; /* Bo tròn các góc */
    overflow: hidden; /* Đảm bảo nội dung không vượt quá viền bo tròn */
    padding: 15px 20px; /* Điều chỉnh padding để kiểm soát chiều cao của input */
    border: 1px solid #d9d9d9; /* Đường viền màu xám nhạt */
    font-size: 1rem;

    @media (max-width: 1400px) {
      width: 90%; /* Giảm kích thước width xuống 90% */
    }

    @media (max-width: 1250px) {
      width: 80%; /* Giảm kích thước width xuống 80% */
    }
    
    @media (max-width: 1116px) {
      padding: 10px 20px; /* Điều chỉnh padding để kiểm soát chiều cao của input */
    }
    
    @media (max-width: 734px) {
      width: 90%; /* Giảm kích thước width xuống 90% */
    }

    &::placeholder {
      color: #999999; /* Màu chữ của placeholder */
    }

    &:focus {
      border-color: #f5766b; /* Đổi màu viền khi focus */
      box-shadow: 0 0 5px rgba(250, 62, 44, 0.5); /* Hiệu ứng đổ bóng khi focus */
      outline: none; /* Bỏ viền mặc định khi focus */
    }
  }
}

/* Import các kiểu mặc định của slick-carousel */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Ghi đè các kiểu của slick-carousel */
.slick-next,
.slick-prev {
  display: none !important; /* Ẩn hoàn toàn các nút điều hướng */
}

.slick-next:before,
.slick-prev:before {
  content: none !important; /* Sử dụng !important để ghi đè các kiểu mặc định */
}

.product-details-container {
  object-fit: cover;
  background-size: cover;
  max-width: 100%;

  .content-product-details {
    max-width: 100%;
    margin: 5rem 0;

    .container-text-center-product-details {
      text-align: center;
      padding-top: 3rem;
      height: 175px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: rgba(92, 90, 92, 0.7);
      margin: 0 auto;

      .main-text-center {
        h1 {
          font-size: 2.2rem;
          color: white;

          @media (max-width: 1400px) {
            font-size: 1.8rem; /* Giảm kích thước font chữ */
          }
        }
      }

      .nav-main-text-center {
        color: white;

        .breadcrumb {
          a {
            color: white;

            &:hover {
              color: #fa422d;
              transition: 0.3s all ease-in-out;
            }
          }
        }
      }
    }

    .shopify-section-template {
      background-color: white;
    }

    .content-container-details-product {
      max-width: 70%;
      margin: 0 auto;
      padding-top: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      background-color: white;
      grid-column-gap: 4rem; /* Tăng khoảng cách giữa các cột */

      @media (max-width: 1600px) {
        max-width: 80%;
      }
      @media (max-width: 1250px) {
        max-width: 90%;
      }
      @media (max-width: 1000px) {
        grid-column-gap: 2rem; /* Giảm khoảng cách giữa các cột */

        .name-details-product {
          h1 {
            font-size: 2rem;
          }
        }
      }
      @media (max-width: 818px) {
        max-width: 100%;
      }

      .img-details-product {
        max-width: 100%;
        margin-left: 2rem;

        @media (max-width: 1400px) {
          margin-left: 4rem; /* Tăng khoảng cách bên trái */
        }

        .main-slider,
        .thumbnail-slider {
          width: 100%; /* Đặt chiều rộng là 100% để nó co dãn theo kích thước màn hình */
        }

        @media (max-width: 1400px) {
          .main-slider,
          .thumbnail-slider {
            width: 100%; /* Đặt chiều rộng là 100% để nó co dãn theo kích thước màn hình */
          }

          .thumbnail-slide {
            max-width: 100%;
            img {
              width: 100%; /* Giảm kích thước ảnh nhỏ xuống 90% */
              height: auto;
              object-fit: cover;
              cursor: pointer;
              border: 1px solid transparent; /* Default border color */
            }

            &.active img {
              border: 1px solid #ff5947; /* Add border color when active */
            }
          }

          .slick-slide {
            padding: 5px; /* Giảm khoảng cách giữa các ảnh nhỏ */
          }

          .slick-list {
            max-width: 100%;
            margin: 0 -10px; /* Giảm khoảng cách giữa các ảnh nhỏ */
          }
        }
        @media (max-width: 1116px) {
          .main-slider,
          .thumbnail-slider {
            width: 100%; /* Đặt chiều rộng là 100% để nó co dãn theo kích thước màn hình */
          }

          .thumbnail-slide {
            max-width: 100%;
            img {
              width: 100%; /* Giảm kích thước ảnh nhỏ xuống 80% */
              height: auto;
              object-fit: cover;
              cursor: pointer;
              border: 1px solid transparent; /* Default border color */
            }

            &.active img {
              border: 1px solid #ff5947; /* Add border color when active */
            }
          }

          .slick-slide {
            padding: 5px; /* Giảm khoảng cách giữa các ảnh nhỏ */
          }

          .slick-list {
            max-width: 100%;
            margin: 0 -10px; /* Giảm khoảng cách giữa các ảnh nhỏ */
          }
        }
        @media (max-width: 821px) {
          .main-slider,
          .thumbnail-slider {
            width: 100%; /* Đặt chiều rộng là 100% để nó co dãn theo kích thước màn hình */
          }

          .thumbnail-slide {
            max-width: 100%;
            img {
              width: 100%; /* Giảm kích thước ảnh nhỏ xuống 75% */
              height: auto;
              object-fit: cover;
              cursor: pointer;
              border: 1px solid transparent; /* Default border color */
            }

            &.active img {
              border: 1px solid #ff5947; /* Add border color when active */
            }
          }

          .slick-slide {
            padding: 5px; /* Giảm khoảng cách giữa các ảnh nhỏ */
          }

          .slick-list {
            max-width: 100%;
            margin: 0 -10px; /* Giảm khoảng cách giữa các ảnh nhỏ */
          }
        }
        @media (max-width: 734px) {
          .main-slider,
          .thumbnail-slider {
            width: 20rem; /* Đặt chiều rộng là 100% để nó co dãn theo kích thước màn hình */
          }

          .thumbnail-slide {
            max-width: 100%;
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
              cursor: pointer;
              border: 1px solid transparent; /* Default border color */
            }

            &.active img {
              border: 1px solid #ff5947; /* Add border color when active */
            }
          }

          .slick-slide {
          }

          .slick-list {
            max-width: 100%;
          }
        }
        @media (max-width: 672px) {
          .main-slider,
          .thumbnail-slider {
            width: 100%; /* Đặt chiều rộng là 100% để nó co dãn theo kích thước màn hình */
          }

          .thumbnail-slide {
            max-width: 100%;
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
              cursor: pointer;
              border: 1px solid transparent; /* Default border color */
            }

            &.active img {
              border: 1px solid #ff5947; /* Add border color when active */
            }
          }

          .slick-slide {
          }

          .slick-list {
            max-width: 100%;
          }
        }
        @media (max-width: 625px) {
          .main-slider,
          .thumbnail-slider {
            width: 100%; /* Đặt chiều rộng là 100% để nó co dãn theo kích thước màn hình */
          }

          .thumbnail-slide {
            max-width: 100%;
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
              cursor: pointer;
              border: 1px solid transparent; /* Default border color */
            }

            &.active img {
              border: 1px solid #ff5947; /* Add border color when active */
            }
          }

          .slick-slide {
          }

          .slick-list {
            max-width: 100%;
            overflow: hidden;
          }
        }
        @media (max-width: 460px) {
          margin-left: 0;
          .main-slider,
          .thumbnail-slider {
            width: 90%; /* Đặt chiều rộng là 100% để nó co dãn theo kích thước màn hình */
            margin: 0 auto;
          }

          .thumbnail-slide {
            max-width: 100%;
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
              cursor: pointer;
              border: 1px solid transparent; /* Default border color */
            }

            &.active img {
              border: 1px solid #ff5947; /* Add border color when active */
            }
          }

          .slick-slide {
          }

          .slick-list {
            max-width: 100%;
            overflow: hidden;
          }
        }
        .slick-slider {
          margin-bottom: 20px;
        }

        img {
          width: 100%;
          height: auto;
        }

        .thumbnail-slider {
          .thumbnail-slide {
            img {
              width: 90%;
              height: auto;
              object-fit: cover;
              cursor: pointer;
              border: 1px solid transparent; /* Default border color */
            }

            &.active img {
              border: 1px solid #ff5947; /* Add border color when active */
            }
          }

          .slick-slide {
            padding: 2px; /* Giảm khoảng cách giữa các ảnh nhỏ */
          }

          .slick-list {
            margin: 0 -2px; /* Giảm khoảng cách giữa các ảnh nhỏ */
          }
        }
      }

      .content-main-details-product {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-left: 7rem;

        @media (max-width: 1400px) {
          margin-left: 4rem; /* Tăng khoảng cách bên trái */
        }

        @media (max-width: 1116px) {
          margin-left: 3rem; /* Tăng khoảng cách bên trái */
        }
        @media (max-width: 1000px) {
          gap: 2.2rem;
        }
        @media (max-width: 460px) {
          width: 90%;
          margin: 0 auto;
        }

        .name-details-product {
          font-size: 1.5rem;

          @media (max-width: 1400px) {
            font-size: 1.2rem; /* Giảm kích thước font chữ */
          }
        }

        .content-below-details {
          display: flex;
          flex-direction: row;
          gap: 3rem;

          @media (max-width: 1000px) {
            gap: 1.5rem; /* Giảm khoảng cách giữa các phần tử */
          }

          .title-content-below-details1 {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            @media (max-width: 1000px) {
              gap: 1.5rem; /* Giảm khoảng cách giữa các phần tử */
            }

            .title-content {
              p {
                font-size: 20px;
                font-weight: 600;
                color: #3c3a3b;

                @media (max-width: 1400px) {
                  font-size: 16px; /* Giảm kích thước font chữ */
                }

                @media (max-width: 1116px) {
                  font-size: 14px; /* Giảm kích thước font chữ */
                }
              }
            }
          }

          .title-content-below-details2 {
            display: flex;
            flex-direction: column;
            gap: 2.7rem;

            @media (max-width: 1000px) {
              gap: 1.5rem; /* Giảm khoảng cách giữa các phần tử */
            }

            .title1 {
              p {
                color: #fa422d;

                @media (max-width: 1400px) {
                  font-size: 16px; /* Giảm kích thước font chữ */
                }

                @media (max-width: 1116px) {
                  font-size: 14px; /* Giảm kích thước font chữ */
                }
              }
            }

            .color-block {
              width: 20px;
              height: 20px;
              border: 1px solid #ccc;
              cursor: pointer;
            }

            .cacul-cart {
              display: flex;
              flex-direction: row;

              .quantity-content-cart {
                p {
                  border: thin solid rgb(224, 224, 224);
                  padding: 0 8px;
                }
              }

              .cacul-quantity-content-cart1 {
                p {
                  border: thin solid rgb(231, 231, 231);
                  padding: 0 8px;
                  border-radius: 0.3rem 0rem 0rem 0.3rem;
                  color: #fa422d;
                  cursor: pointer;
                }
              }

              .cacul-quantity-content-cart2 {
                p {
                  border: thin solid rgb(231, 231, 231);
                  padding: 0 8px;
                  border-radius: 0rem 0.3rem 0.3rem 0rem;
                  color: #fa422d;
                  cursor: pointer;
                }
              }
            }

            p {
              font-size: 18px;

              @media (max-width: 1400px) {
                font-size: 14px; /* Giảm kích thước font chữ */
              }

              @media (max-width: 1116px) {
                font-size: 12px; /* Giảm kích thước font chữ */
              }
            }
          }
        }

        .availability {
          display: flex;
          align-items: center;

          h6 {
            font-size: 20px;
            font-weight: 600;
            color: #2c3e50;
            margin-right: 30px;

            @media (max-width: 1400px) {
              font-size: 16px; /* Giảm kích thước font chữ */
            }

            @media (max-width: 1116px) {
              font-size: 14px; /* Giảm kích thước font chữ */
            }
          }

          .in-stock {
            color: lightgreen;
            font-size: 20px;

            @media (max-width: 1400px) {
              font-size: 16px; /* Giảm kích thước font chữ */
            }

            @media (max-width: 1116px) {
              font-size: 14px; /* Giảm kích thước font chữ */
            }
          }

          .out-of-stock {
            color: #fa422d;
            font-size: 20px;

            @media (max-width: 1400px) {
              font-size: 16px; /* Giảm kích thước font chữ */
            }

            @media (max-width: 1116px) {
              font-size: 14px; /* Giảm kích thước font chữ */
            }
          }
        }

        .add-to-cart-btn {
          border-radius: 40px;

          p {
            font-size: 1rem;
            color: white;
            padding: 0.6rem 1.6rem;

            @media (max-width: 1400px) {
              font-size: 0.8rem; /* Giảm kích thước font chữ */
              padding: 0.5rem 1.2rem; /* Giảm kích thước padding */
            }

            @media (max-width: 1116px) {
              font-size: 0.6rem; /* Giảm kích thước font chữ */
              padding: 0.3rem 1rem; /* Giảm kích thước padding */
            }
          }
        }

        .add-to-cart-btn:disabled {
          cursor: not-allowed;
          background-color: #d3d3d3; /* Màu nền khi nút bị vô hiệu hóa */
          color: #ffffff; /* Màu chữ khi nút bị vô hiệu hóa */
        }
      }
    }

    .desc-container-product-details {
      padding-top: 5rem;
      display: grid;
      grid-template-rows: auto auto;
      max-width: 70%;
      margin: 0 auto;

      @media (max-width: 1600px) {
        max-width: 80%;
      }

      @media (max-width: 1400px) {
        padding-left: 2rem; /* Tăng khoảng cách bên trái */
      }

      @media (max-width: 1116px) {
        max-width: 90%;
        margin: 0 auto;
      }
      @media(max-width: 672px){
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
      }
      @media (max-width: 460px) {
        width: 90%;
        margin: 0 auto;
      }

      .title-desc-product-details {
        button {
          border-radius: 0.4rem 0.4rem 0 0;

          p {
            font-weight: 700;
            color: white;
            padding: 1rem 3rem;

            @media (max-width: 1400px) {
              font-size: 0.8rem; /* Giảm kích thước font chữ */
              padding: 0.5rem 2rem;
            }

            @media (max-width: 1116px) {
              font-size: 0.6rem; /* Giảm kích thước font chữ */
              width: 100%;
            }
            @media(max-width:900px){
              font-size: 0.5rem;
              padding: 0.4rem 1.8rem;
            }
          }
        }
      }

      .content-desc-product-details {
        border: thin solid rgb(214, 214, 214);
        border-radius: 0 0 0.4rem 0.4rem;

        p {
          padding: 1rem;

          @media (max-width: 1400px) {
            font-size: 0.8rem; /* Giảm kích thước font chữ */
          }

          @media (max-width: 1116px) {
            font-size: 0.6rem; /* Giảm kích thước font chữ */
          }
        }
      }
    }
  }
}
