:root {
  --button-bg-color: #fa3e2c;
  --button-bg-hover-color: #f97c37;
}

.review-container {
  margin-top: 50px;

  h2 {
    font-size: 2rem;

    @media (max-width: 1400px) {
      font-size: 1.2rem; /* Giảm kích thước font chữ */
    }
  }

  .submit-review-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 35px;
    background: linear-gradient(to right, var(--button-bg-hover-color), var(--button-bg-color), var(--button-bg-hover-color), var(--button-bg-color));
    background-size: 200% auto;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    text-decoration: none;
    transition: background-position 0.3s ease, transform 0.3s;
    border: none;
    cursor: pointer;

    &:hover {
      background-position: right center;
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: normal; /* Bỏ font-weight bold */
      color: white; /* Màu trắng */

      @media (max-width: 1400px) {
        font-size: 0.8rem; /* Giảm kích thước font chữ */
      }
    }

    @media (max-width: 1400px) {
      padding: 10px 25px; /* Giảm kích thước padding */
    }
  }

  .ant-rate {
    font-size: 1.5rem;

    @media (max-width: 1400px) {
      font-size: 1rem; /* Giảm kích thước font chữ */
    }
  }

  .ant-input {
    font-size: 1rem;

    @media (max-width: 1400px) {
      font-size: 0.8rem; /* Giảm kích thước font chữ */
    }
  }

  .ant-input-textarea {
    .ant-input {
      font-size: 1rem;

      @media (max-width: 1400px) {
        font-size: 0.8rem; /* Giảm kích thước font chữ */
      }
    }
  }
}
