:root {
  --button-bg-color: #fa3e2c;
  --button-bg-hover-color: #f97c37;
}

.review-container {
  margin-top: 50px;

  h2 {
    font-size: 2rem;

    @media (max-width: 1400px) {
      font-size: 1.2rem; /* Giảm kích thước font chữ */
    }
    @media (max-width: 1000px) {
      font-size: 1rem;
    }
  }

  .submit-review-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 35px;
    background: linear-gradient(
      to right,
      var(--button-bg-hover-color),
      var(--button-bg-color),
      var(--button-bg-hover-color),
      var(--button-bg-color)
    );
    background-size: 200% auto;
    color: white;
    text-transform: uppercase;
    border-radius: 40px;
    text-decoration: none;
    transition:
      background-position 0.3s ease,
      transform 0.3s;
    border: none;
    cursor: pointer;

    &:hover {
      background-position: right center;
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: normal; /* Bỏ font-weight bold */
      color: white; /* Màu trắng */

      @media (max-width: 1400px) {
        font-size: 0.8rem; /* Giảm kích thước font chữ */
      }
      @media (max-width: 1116px) {
        font-size: 0.6rem;
      }
    }

    @media (max-width: 1400px) {
      padding: 12px 30px; /* Giảm kích thước padding */
    }
    @media (max-width: 1116px) {
      padding: 10px 30px;
    }
  }

  .ant-rate {
    font-size: 1.5rem;

    @media (max-width: 1400px) {
      font-size: 1rem; /* Giảm kích thước font chữ */
    }
  }

  .review-input-textarea {
    width: 100%; /* Đảm bảo phần tử này chiếm 100% chiều rộng của phần tử cha */
    border-radius: 40px; /* Bo tròn các góc */
    overflow: hidden; /* Đảm bảo nội dung không vượt quá viền bo tròn */
    padding: 15px 20px; /* Điều chỉnh padding để kiểm soát chiều cao của input */
    border: 1px solid #d9d9d9; /* Đường viền màu xám nhạt */
    font-size: 1rem;

    @media (max-width: 1400px) {
      width: 90%; /* Giảm kích thước width xuống 90% */
    }

    @media (max-width: 1250px) {
      width: 80%; /* Giảm kích thước width xuống 80% */
    }
    
    @media (max-width: 1116px) {
      padding: 10px 20px; /* Điều chỉnh padding để kiểm soát chiều cao của input */
      font-size: 0.8rem;
    }
    
    @media (max-width: 734px) {
      width: 90%; /* Giảm kích thước width xuống 90% */
    }

    &::placeholder {
      color: #999999; /* Màu chữ của placeholder */
    }

    &:focus {
      border-color: #f5766b; /* Đổi màu viền khi focus */
      box-shadow: 0 0 5px rgba(250, 62, 44, 0.5); /* Hiệu ứng đổ bóng khi focus */
      outline: none; /* Bỏ viền mặc định khi focus */
    }
  }
}
