.page-contact-admin-full-width-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 55rem;
    padding-top: 6rem;
    background-color: white;
    box-shadow: none;
    .pagination-container {
      display: flex;
      justify-content: flex-end; /* Căn về bên phải */
      padding-right: 20px;
    }
    @media (max-width: 1191px) {
      max-width: 90%;
    }
    @media (max-width: 955px) {
      max-width: 95%;
    }
  
    .header-contact-admin-box {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.5rem;
  
      .title-contactadmin {
        p {
          font-size: 25px;
          font-weight: bold;
        }
      }
    }
  
    .bottom-contactadmin-container {
      .ant-table {
        width: 100%;
      }
  
      .contact-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
  
      .contact-details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
  
        .contact-name {
          font-weight: bold;
          font-size: 16px;
        }
  
        .contact-email {
          font-size: 14px;
          color: gray;
        }
  
        .contact-phone {
          font-size: 14px;
          color: gray;
        }
  
        .contact-message {
          font-size: 14px;
          margin-top: 0.5rem;
        }
      }
    }
  
    .custom-pagination-button {
      cursor: pointer;
    }
  }
  
  .read-more {
    color: blue;
    cursor: pointer;
  }
  
  .delete-confirm-modal {
    .ant-modal-content {
      width: 300px;
      margin: 0 auto;
      border-radius: 8px;
      padding: 16px;
      text-align: center;
    }
  
    .ant-modal-confirm-title {
      font-size: 18px;
      font-weight: bold;
    }
  
    .ant-modal-confirm-content {
      margin: 12px 0;
    }
  
    .ant-modal-confirm-btns {
      display: flex;
      justify-content: space-around;
    }
    .send-email-btn {
      background-color: white !important; /* Nền trắng */
      color: black !important; /* Màu chữ đen */
      padding: 5px 10px !important;
      border: 2px solid black !important; /* Viền đen */
      border-radius: 5px !important;
      font-size: 16px !important;
      cursor: pointer !important;
      display: flex !important;
      align-items: center !important;
      gap: 8px !important; /* Khoảng cách giữa icon và chữ */
      transition: all 0.3s ease !important;
    }
    
    .send-email-btn:hover {
      background-color: black; /* Đổi nền thành đen khi hover */
      color: white; /* Chữ đổi thành trắng khi hover */
    }
    
    .send-email-btn .icon {
      color: black;
      transition: color 0.3s ease;
    }
    
    .send-email-btn:hover .icon {
      color: white;
    }
    
  }
  