.edit-order-container {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 60rem;
    .arrow-id-order {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        align-items: center;
        cursor: pointer;
        .id-order {
            p {
                font-size: 1.4rem;
                font-weight: bold;
            }
        }
    }
    .info-edit-order-container {
        background-color: white;
        padding: 1rem;
        border-radius: 15px;
        box-shadow:
            0 1px 3px rgba(0, 0, 0, 0.1),
            0 1px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .search-product-to-edit-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .edit-product {
            border: thin solid #e7e7e7;
            border-radius: 15px;
            padding: 1rem;
            height: 10rem;
            position: relative;
            .product-info {
                display: grid;
                grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
                gap: 2rem;

                .image-ordtails {
                    max-width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .product-details {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .name-info-ordetails{
                    p{
                        font-weight: bold;
                    }
                }
                .color-info-ordtails {
                    p {
                        color: rgb(169, 169, 169);
                    }
                }
                .product-price {
                    text-align: right;
                }
            }
            .remove-detail {
                position: absolute;
                left: 1%;
                top: 2%;
                cursor: pointer;
                p {
                    font-size: 1rem;
                    color: blue;
                }
            }
        }
        .total-price-ordtails {
            padding-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 0.5rem;
            .container-title-price-edit-order {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .price-total-edit-order {
                    p {
                        font-weight: bold;
                        font-size: 1rem;
                        color: blue;
                    }
                }
            }
            .container-price-edit-order {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .price-total-edit-order {
                    p {
                        font-weight: bold;
                        font-size: 1rem;
                        color: blue;
                    }
                }
            }
        }
        button {
            max-width: 100%;
        }
    }
}
