.video-container {
  margin-top: 10rem;
  max-width: 100%;
  position: relative;

  .image-video-home {
    max-width: 100%;
    img {
      max-width: 100%;
      display: block; // Ensure the image takes the full width of its container
    }
  }

  .video-banner-content {
    position: absolute;
    top: 50%; // Center the content vertically
    left: 50%; // Center the content horizontally
    transform: translate(-50%, -50%); // Use transform to perfectly center the content
    text-align: center;

    .video-banner-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .video-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .icon-video-play {
          color: white;
          font-size: 3rem;
          border-radius: 50%;
          padding: 1rem;
          z-index: 2;
          background: rgba(0, 0, 0, 0.5); // Ensure the play button is visible against the image
        }

        .icon-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          z-index: 1;
        }
      }

      .video-title {
        p {
          color: white;
          font-size: 30px;
        }
      }
    }
  }
}

.video-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1000;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  border-radius: 8px;
}

.video-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.close-modal-btn {
  position: absolute;
  top: 0%;
  right: -2%;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.video-wrapper {
  text-align: center;
  width: 40rem;
  height: 30rem;
  iframe {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 840px) {
  .video-wrapper {
    width: 30rem;
    height: 22.5rem; // Adjust height to maintain aspect ratio 16:9
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 600px) {
  .video-wrapper {
    width: 20rem;
    height: 16.875rem; // Adjust height to maintain aspect ratio 16:9
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 430px) {
  .video-wrapper {
    width: 15rem;
    height: 11.25rem; // Adjust height to maintain aspect ratio 16:9
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
