.aboutus-wrapper {
  position: relative;

  .aboutus-background {
    background-image: url("https://bikex-club.myshopify.com/cdn/shop/files/blog_detail-4.jpg?v=1598503894");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 175px; /* Điều chỉnh chiều cao */
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .aboutus-container {
    margin-top: 5rem;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-bottom: 150px;

    .top-aboutus-container {
      max-width: 100%;
      background-color: rgba(92, 90, 92, 0.8);
      min-height: 175px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .name-top-aboutus-container {
        max-width: 100%;

        h1 {
          margin-bottom: 10px;
          font-size: 2rem;
          color: white;
        }
      }

      .name-bottom-aboutus-container {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0.3rem;

        p {
          color: white;
        }

        .home-aboutus {
          &:hover {
            p {
              color: #fa422d;
            }
          }
        }
      }
    }

    .aboutus-images {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-top: 2rem;

      .image-container {
        flex: 1;
        margin-top: 5rem;
        max-width: 23%;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
        }

        .image-overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.8);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity 1s ease;

          h2 {
            color: white;
            font-size: 2rem;
            margin: 0;
          }

          h3 {
            color: white;
            font-size: 1.5rem;
            margin: 10px 0;
          }

          .underline {
            width: 50px;
            height: 3px;
            background-color: #fa422d;
            margin: 10px 0;
          }

          p {
            color: white;
            text-align: center;
            max-width: 90%;
          }
        }

        &:hover img {
          transform: scale(1.15);
        }

        &:hover .image-overlay {
          opacity: 1;
        }
      }
    }

    .suspension-container {
      position: relative;
      margin-top: 10rem;
      text-align: center;
      margin-bottom: 10rem;

      .title-background {
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 280px;
        color: rgba(0, 0, 0, 0.02);
        z-index: -1;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }

      .underline-red {
        width: 50px;
        height: 3px;
        background-color: #fa422d;
        margin: 0 auto 0.5rem auto;
      }

      .title-main {
        position: relative;
        z-index: 1;
        font-size: 48px;
        color: #333;
        margin-top: 0.5rem;
      }
    }

    .components-list {
      width: 65%;
      margin: auto;
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-top: 3rem;
      text-align: center;
      transition: all 0.3s linear;
      
      .component-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: all 0.3s linear;

        .icon-wrapper {
          width: 170px;
          height: 170px;
          margin-bottom: 1rem;
          background-color: #fa722d;
          border-radius: 50%;
          padding: 30px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s linear;
        }

        img {
          width: 100%;
          height: 100%;
          transition: transform 0.3s linear;
        }

        h3 {
          font-size: 1.2rem;
          color: #333;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1rem;
          color: #777;
        }

        &:hover img {
          transform: scale(1.3);
          transition: all 0.3s linear;
        }

        &:hover .icon-wrapper {
          background-color: #000;
        }
      }
    }

    /* Phần SCSS cho Join Us */
    .join-us-section {
      width: 100%;
      height: 350px;
      background-color: #fdece9; // Light pink background
      padding: 5rem 1rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
      display: flex;
      justify-content: center;
    
      .join-us-content {
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    
        .text-content {
          max-width: 70%; // Giới hạn chiều rộng của phần text để có khoảng trống cho button
          .join-us-title {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: #333;
    
            .highlight {
              color: #fa422d; // Highlighted orange-red color
            }
          }
    
          .join-us-description {
            font-size: 1rem;
            color: #777;
            line-height: 2.0;
            margin-bottom: 2rem;
          }
        }
    
        .button-wrapper {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .shop-now-button {
            background: linear-gradient(45deg, #fa422d, #ff734e);
            color: #fff;
            padding: 1rem 2rem; // Tăng kích thước padding để nút lớn hơn
            border: none;
            border-radius: 30px;
            font-size: 1rem;
            cursor: pointer;
            transition: background 0.3s ease;
    
            &:hover {
              background: linear-gradient(45deg, #ff734e, #fa422d);
            }
          }
        }
      }
    }
  }
 .bicycle-section {
  position: relative;
  padding-top: 1yrem;
  text-align: center;

  .bicycle-top {
    position: relative;
    margin-top: 10rem;
    .background-text {
      font-size: 280px;
      margin-top: -190px;
      color: rgba(0, 0, 0, 0.02);
      top: 50%;
      left: 50%;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      z-index: -1;
    }

    .section-title {
      font-size: 48px;
      z-index: 1;
      position: relative;
      color: #333;
    }

    .underline-red {
      width: 50px;
      height: 3px;
      background-color: #fa422d;
      margin: 0.5rem auto;
      position: relative;
      z-index: 1;
    }
  }
}
  
  
    .bicycle-grid {
      width: 65%;
      margin: 0 auto; /* Căn giữa toàn bộ grid */
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Hai thẻ trên mỗi hàng */
      gap: 30px;
      padding: 0 20px;  
    }
  
    .bicycle-card {
      position: relative;
      overflow: hidden;
      max-width: 100%;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    
      img.bicycle-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
    
      &:hover img.bicycle-image {
        transform: scale(1.1);
      }
      .content-card {
        line-height: 1.8;
        text-align: left;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .bicycle-info {
        position: absolute;
        top: 2%;
        left: 2%;
        height: 96%;
        width: 50%;
        background: rgba(255, 255, 255, 0.7);
        padding: 20px;
        z-index: 2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex; 
        justify-content: center; /* Align content vertically */
        align-items: center; /* Align content horizontally */
        
        .content-card {
          line-height: 1.8;
          text-align: left;
          padding: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
        }
      
        h2 {
          font-size: 1.5rem;
          margin-bottom: 10px;
        }
      
        p {
          font-size: 1rem;
          margin-bottom: 20px;
        }
      
        .bicycle-price {
          color: white;
          background-color: #f54c4c;
          padding: 5px 15px;
          font-weight: bold;
          align-self: flex-end;
        }
      }
      .bicycle-info-bottom {
        position: absolute;
        top: 2%;
        left: 48%;
        height: 96%;
        width: 50%;
        background: rgba(255, 255, 255, 0.7);
        padding: 20px;
        z-index: 2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex; 
        justify-content: center; /* Align content vertically */
        align-items: center; /* Align content horizontally */
        .content-card {
          line-height: 1.8;
          text-align: left;
          padding: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
        }
      
        h2 {
          font-size: 1.5rem;
          margin-bottom: 10px;
        }
      
        p {
          font-size: 1rem;
          margin-bottom: 20px;
        }
      
        .bicycle-price {
          color: white;
          background-color: #f54c4c;
          padding: 5px 15px;
          font-weight: bold;
          align-self: flex-end;
        }
      }
    }
    .our-team-section {
      padding-top: 5rem;
      text-align: center;
    
      .team-header {
        position: relative;
        margin-top: 5rem;
    
        .background-text {
          font-size: 280px;
          margin-top: -190px;
          color: rgba(0, 0, 0, 0.02);
          top: 50%;
          left: 50%;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          z-index: -1;
        }
    
        .section-title {
          font-size: 48px;
          z-index: 1;
          position: relative;
          color: #333;
        }
    
        .underline-red {
          width: 50px;
          height: 3px;
          background-color: #fa422d;
          margin: 0.5rem auto;
          position: relative;
          z-index: 1;
        }
      }
    
      .team-grid {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin-top: 2rem;
      
        .team-member {
          position: relative;
          text-align: center;
      
          .team-image-container {
            position: relative;
            overflow: hidden;
            
            img {
              width: 278px;
              height: 278px;
              object-fit: cover;
              transition: transform 0.7s ease; /* Smooth zoom on hover */
            }
      
            .team-overlay {
              position: absolute;
              bottom: -100%; /* Hide it initially */
              left: 0;
              right: 0;
              display: flex;
              justify-content: center;
              gap: 10px;
              transition: all 0.7s ease; /* Smooth animation */
              
              a {
                width: 40px;
                height: 40px;
                background: black;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                transition: transform 0.7s ease;
              }
      
              a:hover {
                background-color: white;
                color: #f97c37;
              }
            }
            &:hover .team-overlay {
              bottom: 10%; /* Slide the icons up smoothly */
            }
          }
      
          h3 {
            font-family: 'Public Sans', sans-serif;
            font-size: 1.5rem;
            color: #f97c37;
            font-weight: 700;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
      
          p {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-family: 'Public Sans', sans-serif;
            font-size: 14px;
            color: #333;
            margin: 0;
            font-weight: 700;
          }
        }
      }      
    }
}
  
