.aboutus-container {
    padding-top: 6rem;
    width: 100%;
    margin: 0 auto;
  
    .aboutus-header {
      text-align: center;
      margin-bottom: 20px;
  
      h1 {
        margin: 0;
        font-size: 36px;
      }
  
      nav {
        margin-top: 10px;
  
        a {
          text-decoration: none;
          color: #000;
        }
  
        span {
          color: #888;
        }
      }
    }
  
    .aboutus-section-container {
      width: 80%;
      margin: auto;
    }
  
    .aboutus-images {
        padding-top: 3rem;
        padding-bottom: 3rem;
      .aboutus-section-container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
  
        .aboutus-images-containe {
          position: relative;
          width: calc(33.33% - 1rem);
  
          img {
            width: 100%;
            height: auto;
            display: block;
          }
  
          .aboutus-images-container-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.3s ease;
  
            h4 {
                font-size: 30px;
                padding-bottom: 1rem;
              margin-bottom: 1rem;
              text-decoration: underline;
              text-decoration-color: red;
              text-decoration-thickness: 0.2rem;
              text-underline-offset: 2rem;
              text-align: center;
              color: #fff;
            }
  
            h6{
                font-size: 20px;
                margin-bottom: 1rem;
              color: #fff;
              text-align: center;
            }
            p {
                font-size: 18px;
                padding-top: 2rem;
                max-width: 80%;
                margin-bottom: 1rem;
              color: #fff;
              text-align: center;
            }
          }
  
          &:hover .aboutus-images-container-content {
            opacity: 1;
          }
        }
      }
    }
  
    .aboutus-components {
      text-align: center;
      margin-bottom: 40px;
  
      h2 {
        font-size: 40px;
        margin-bottom: 3rem;
      }
  
      .aboutus-component-list {
        display: flex;
        justify-content: center;
        gap: 40px;
  
        .aboutus-component {
          width: 300px;
          text-align: center;
  
          img {
            width: 100px;
            height: 100px;
            background-color: orange;
            border-radius: 50%;
            padding: 20px;
            transition: background-color 0.3s;
  
            &:hover {
              background-color: black;
            }
          }
  
          h3 {
            font-size: 25px;
            margin: 10px 0;
          }
  
          p {
            font-size: 20px;
            color: #666;
          }
        }
      }
    }
  
    .aboutus-join-us {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      background-color: #ffeceb;
      padding: 40px;
      border-radius: 10px;
  
      .aboutus-join-content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
  
        .aboutus-join-text {
            
          width: 70%;
  
          h2 {
            font-size: 40px;
            margin-bottom: 25px;
            color: #000;
  
            .red-text {
              color: #ff4040;
            }
          }
  
          p {
            padding-top: 2rem;
            max-width: 80%;
            font-size: 20px;
            color: #666;
            margin-bottom: 20px;
          }
        }
  
        .aboutus-join-button {
          width: 30%;
          display: flex;
          justify-content: center;
  
          button {
            width: 50%;
            padding: 15px 30px;
            background-color: #ff4040;
            color: #fff;
            border: none;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s;
            border-radius: 8px;
  
            &:hover {
              background-color: #cc0000;
            }
          }
        }
      }
    }
  
    .aboutus-king-of-bicycles {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px;
  
      h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 3rem;
      }
  
      .aboutus-bicycles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
  
        .aboutus-bicycle {
          position: relative;
  
          img {
            width: 100%;
            height: auto;
          }
  
          .aboutus-bicycle_content_01,
          .aboutus-bicycle_content_02,
          .aboutus-bicycle_content_03,
          .aboutus-bicycle_content_04 {
            position: absolute;
            top: 2rem;
            left: 0.5rem;
            width: 45%;
            height: 90%;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 10px;
            box-sizing: border-box;
  
            h3,
            p {
              margin: 0;
              padding-bottom: 3rem;
            }
  
            h3 {
              font-size: 35px;
            }
  
            p {
              font-size: 25px;
              color: #666;
            }
  
            button {
              position: absolute;
              bottom: 2rem;
              right: 2rem;
              background-color: red;
              color: #fff;
              border: none;
              padding: 5px 10px;
              font-size: 25px;
              cursor: pointer;
              transition: background-color 0.3s;
  
              &:hover {
                background-color: darkred;
              }
            }
          }
        }
      }
    }
  
    .aboutus-team {
      text-align: center;
      margin-bottom: 40px;
  
      h2 {
        font-size: 50px;
        margin-bottom: 20px;
        padding-bottom: 3rem;
      }
  
      .aboutus-team-members {
        display: flex;
        justify-content: center;
        gap: 6rem;
  
        .aboutus-member {
          width: 200px;
          text-align: center;
  
          img {
            width: 100%;
            height: auto;
            border-radius: 50%;
          }
  
          h3 {
            font-size: 25px;
            margin: 10px 0;
          }
  
          p {
            font-size: 18px;
            color: #666;
          }
        }
      }
    }
  }
  