.header-admin-container {
    width: 100%;
    height: 50px; // Chiều cao 100% chiều cao của cửa sổ trình duyệt
    display: flex;
    flex-direction: column;
    background-color: black;
    .header-main-admin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%; // Chiều cao 100% so với cha
        align-items: center;
       

        .logo-header-admin {
            padding-left: 4rem;     
        }
        .profile-header-admin {
            padding-right: 3rem;
            p{
                color: white;
            }
        }
    }
}
