.getalladdress-admin {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  background-color: white;
  box-shadow: none;
  height: 55rem;

  @media(max-width: 1191px) {
    max-width: 90%;
  }

  @media(max-width: 955px) {
    max-width: 95%;
  }

  .getalladdress-header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;

    h2 {
      font-size: 25px; // Adjusted to fit better with the overall layout
      font-weight: bold;
      margin: 0;
    }

    .menu-user-container {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      .sort-menu {
        display: flex;
        align-items: center;

        .sort-select {
          background-color: #ffffff;
          padding: 0.2rem;
          border-radius: 10px;
          text-align: left;
          border: thin solid gray;
          font-size: 14px;
        }
      }

      .search-proadmin-container {
        input {
          padding: 0.2rem;
          outline: none;
          border: none;
          border-radius: 10px;
          border: thin solid gray;
          font-size: 14px;
        }
      }
    }
  }

  .bottom-proadmin-container {
    .ant-table {
      border: 1px solid #f0f0f0;
      border-radius: 4px;
      overflow: hidden;

      .ant-table-thead > tr > th {
        background: #fafafa;
      }

      .ant-table-tbody > tr > td {
        vertical-align: top;
      }

      .ant-table-pagination {
        margin-right: 20px;
        display: flex;
        justify-content: center;

        .custom-pagination-button {
          background-color: transparent;
          border: none;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          margin: 0 5px;
          border-radius: 50%;
          cursor: pointer;
          transition: color 0.3s;

          &:hover {
            color: #1890ff;
          }

          &.active {
            border: 1px solid #1890ff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .address-horizontal {
      display: flex;
      flex-direction: row;
      gap: 20px;

      p {
        margin: 0;
      }
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.custom-pagination-button {
  cursor: pointer;
}

.read-more {
  color: blue;
  cursor: pointer;
}

.delete-confirm-modal .ant-modal-content {
  width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.delete-confirm-modal .ant-modal-confirm-title {
  font-size: 18px;
  font-weight: bold;
}

.delete-confirm-modal .ant-modal-confirm-content {
  margin: 12px 0;
}

.delete-confirm-modal .ant-modal-confirm-btns {
  display: flex;
  justify-content: space-around;
}
