.shopping-cart-container {
    max-width: 100%;
    margin: 5rem 0;
    background-image: url(https://bikex-club.myshopify.com/cdn/shop/files/blog_detail-4.jpg?v=1598503894);
    background-size: 100% 70%;
    height: auto;

    .top-shopping-container {
        max-width: 100%;
        background-color: rgba(55, 55, 55, 0.8);
        height: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .name-top-shopping-container {
            max-width: 100%;
            h1 {
                font-size: 2rem;
                color: white;
            }
        }

        .name-bottom-shopping-container {
            max-width: 100%;
            display: flex;
            flex-direction: row;
            gap: 0.3rem;
            p {
                color: white;
            }
            .home-name-bsc {
                &:hover {
                    p {
                        color: #fa422d;
                    }
                }
            }
        }
    }

    .background-bot-shopping-cart-container {
        background-color: white;
        max-width: 100%;
        height: auto;
        padding-bottom: 5rem;

        .shopping-cart-session-main {
            padding: 5rem;
            max-width: 70%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 3.5fr 1.5fr;
            gap: 1rem;

            @media (max-width: 1354px) {
                max-width: 80% !important;
            }

            @media (max-width: 1205px) {
                max-width: 100% !important;
            }

            @media (max-width: 937px) {
                display: flex;
                flex-direction: column;
            }

            @media (max-width: 667px) {
                padding: 2rem;
                max-width: 90%;
                .shopping-cart-header p {
                    font-size: 18px;
                }
            }

            .shopping-cart-items {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                height: 50rem;
                overflow: hidden;
                overflow-y: auto;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none; /* Internet Explorer 10+ */

                .shopping-cart-header {
                    p {
                        font-size: 24px;
                        font-weight: 700;
                    }
                }

                .shopping-cart-row {
                    border: thin solid #e4e4e4;
                    display: grid;
                    grid-template-columns: 1.4fr 3fr;
                    height: 210px;
                    padding: 1rem;
                    gap: 2rem;
                    position: relative;

                    @media (max-width: 937px) {
                        grid-template-columns: 1fr 2fr;
                        height: auto;
                    }

                    @media (max-width: 667px) {
                        grid-template-columns: 1fr 1fr;
                        padding: 0.5rem;
                        gap: 1rem;
                        .shopping-cart-image img {
                            max-width: 100px;
                        }
                        .shopping-cart-info .name-shcart p {
                            font-size: 16px;
                        }
                        .shopping-cart-info .category-shcart p,
                        .shopping-cart-info .price-shcart p {
                            font-size: 14px;
                        }
                        .shopping-cart-info .quantity-controls .button-quantity p {
                            padding: 0 0.3rem;
                        }
                    }

                    .shopping-cart-image {
                        max-width: 100%;
                        img {
                            width: 100%;
                            max-width: 150px; /* Đặt kích thước tối đa cho ảnh */
                            height: auto; /* Giữ nguyên tỷ lệ của ảnh */
                            object-fit: contain; /* Đảm bảo ảnh không bị cắt */
                        }
                    }

                    .shopping-cart-info {
                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;
                        max-width: 100%;

                        .name-shcart {
                            p {
                                font-size: 22px;
                                font-weight: 700;
                                color: #3c3a3b;
                            }
                        }

                        .category-shcart {
                            p {
                                color: #6e5947;
                            }
                        }

                        .price-shcart {
                            p {
                                font-size: 17px;
                                font-weight: 600;
                                color: #3c3a3b;
                            }
                        }

                        .quantity-controls {
                            display: flex;
                            flex-direction: row;
                            gap: 1rem;

                            .button-quantity {
                                border: thin solid rgb(208, 208, 208);
                                cursor: pointer;
                                p {
                                    padding: 0 0.5rem;
                                    color: rgb(0, 0, 0);
                                }
                            }
                        }

                        .delete-button-shopping-cart {
                            position: absolute;
                            left: 0%;
                            top: 0%;
                            p {
                                padding: 0.1rem;
                                color: white;
                            }
                        }
                    }
                }

                .continue-shopping {
                    max-width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    p {
                        font-weight: 400;
                        color: rgb(237, 67, 67);
                        font-size: 0.8rem;
                        font-weight: bold;
                    }
                }
            }

            .total-price-container-cart {
                max-width: 100%;

                .total-price-cart {
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .title-price-cart {
                        p {
                            font-size: 24px;
                            color: #2c3e50;
                            font-weight: 700;
                        }
                    }

                    .info-price-total-container-shopping-cart {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        @media (max-width: 937px) {
                            flex-direction: row; /* Duy trì flex row */
                            gap: 1rem;
                        }

                        @media (max-width: 667px) {
                            .container-title-price-shopping-cart p {
                                font-size: 14px;
                            }
                            .container-price-cart p {
                                font-size: 14px;
                            }
                        }

                        .container-title-price-shopping-cart {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            .subtotal-shopping-cart {
                                p {
                                    color: rgb(75, 75, 75);
                                    font-size: 1rem;
                                }
                            }

                            .shipping-shopping-cart {
                                p {
                                    font-size: 1rem;
                                    color: rgb(75, 75, 75);
                                }
                            }

                            .title-price-shopping-cart {
                                p {
                                    font-size: 1.2rem;
                                    color: #e74c3c;
                                    font-weight: bold;
                                }
                            }
                        }

                        .container-price-cart {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            .sub-price-shopping-cart {
                                p {
                                    color: rgb(75, 75, 75);
                                    font-size: 1rem;
                                }
                            }

                            .shipping-price-shopping-cart {
                                p {
                                    font-size: 1rem;
                                    color: rgb(75, 75, 75);
                                }
                            }

                            .total-money-shopping-cart {
                                p {
                                    font-size: 1.2rem;
                                    color: #e74c3c;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    .total-money-cart {
                        p {
                            font-size: 16px;
                            color: #e74c3c;
                            font-weight: bold;
                        }
                    }

                    .text-total-cart {
                        i {
                            color: #8e8e8e;
                            font-weight: lighter;
                            font-size: 0.8rem;
                        }
                    }

                    .button-checkout {
                        button {
                            width: 100%;
                            border-radius: 40px;

                            p {
                                padding: 0.5rem 1.5rem;
                                font-size: 0.7rem;
                                font-weight: 600;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
