/* user.scss */


button {
  display: inline-block;
  background: linear-gradient(to right, var(--button-bg-hover-color), var(--button-bg-color), var(--button-bg-hover-color), var(--button-bg-color));
  background-size: 200% auto;
  transition: background 0.3s ease, transform 0.3s;
  outline: none;
  border: none;
}

button:hover {
  background-position: right center;
  cursor: pointer;
}
