.shop-container{
    max-width: 100%;
    margin-top: 5rem;
    background-image: url(https://bikex-club.myshopify.com/cdn/shop/files/blog_detail-4.jpg?v=1598503894);
    background-size: cover;
    
    .top-shop-container{
        max-width: 100%;
        background-color: rgba(92, 90, 92, 0.8);
        height: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .name-top-shop-container{
            max-width: 100%;
            h1{
                font-size: 2rem;
                color: white;

            }
        }
        .name-bottom-shop-container{
            max-width: 100%;
            display: flex;
            flex-direction: row;
            gap: 0.3rem;
            p{
                color: white;
            }
            .home-name-bsc{
                &:hover{
                    p{
                        color: #fa422d;
                    }
                }
            }
        }
    }
    .background-bot-shop-container{
        background-color: white;

        
    }
}