.register-admin-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 50%;
    margin: 11rem auto;
  
    .register-admin-title {
      p {
        font-size: 1.5rem;
        font-weight: 500;
        color: #f95e31;
      }
    }
  
    .form-register-admin {
      .form-register-admin-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
  
        .input-username-form-register-admin,
        .input-password-form-register-admin {
          width: 100%;
  
          input {
            width: 100%;
            padding: 20px 20px;
            border-radius: 40px;
            outline: none;
            border: thin solid #e7e7e7;
  
            &::placeholder {
              color: #c3c3c3;
            }
  
            &:focus {
              transition: 0.5s all ease-in-out;
              border: thin solid #fa422d;
            }
          }
        }
  
        .button-form-register-admin {
          display: flex;
          flex-direction: row;
          gap: 1rem;
  
          .button-register-admin {
            button {
              border-radius: 40px;
  
              p {
                color: white;
                padding: 12px 35px;
              }
            }
          }
  
          .button-to-register-admin {
            cursor: pointer;
  
            p {
              padding-top: 10%;
              color: #e74c3c;
            }
          }
        }
      }
    }
  }
  