.footer {
  background-color: #f5e1dc;
  padding: 10px 10px;
  text-align: center;

  .footer-content {
    max-width: 1000px;
    margin: 0 auto;

    .logo img {
      max-width: 12rem;
    }

    .subscribe-title {
      font-size: 28px;
      margin-bottom: 30px;
    }

    .subscribe-form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      .subscribe-group {
        display: flex;
        background: white;
        border-radius: 30px;
        overflow: hidden;

        input[type="email"] {
          padding: 15px 25px;
          border: none;
          outline: none;
          width: 350px;
          font-size: 18px;
          border-radius: 30px;
        }

        button {
          padding: 15px 25px;
          background: linear-gradient(45deg, #f46b45, #eea849);
          border: none;
          border-radius: 30px;
          color: white;
          cursor: pointer;
          font-size: 18px;
        }
      }
    }

    .social-links {
      margin: 30px 0;

      a {
        margin: 0 30px;
        font-size: 20px;
        color: #333;
        text-decoration: none;

        &:hover {
          color: #f46b45;
        }
      }
    }

    .footer-links {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 30px;

      a {
        margin: 0 15px;
        color: #333;
        text-decoration: none;

        &:hover {
          color: #f46b45;
          text-decoration: none;
        }

        &:not(:last-child)::after {
          content: "|";
          margin: 0 15px;
          color: #333;
        }
      }
    }

    .horizontal-line {
      border-top: 1px solid #de5115;
      margin: 30px 0;
    }

    .copyright {
      font-size: 15px;
      color: #292828;
    }
  }
}
