.page-blog-admin-full-width-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  background-color: white;
  box-shadow: none;
  height: 55rem;

  @media(max-width: 1191px) {
    max-width: 90%;
  }

  @media(max-width: 955px) {
    max-width: 100%;
  }

  .header-blog-admin-box {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;

    .title-blogadmin {
      p {
        font-size: 25px; /* Adjusted to fit better with the overall layout */
        font-weight: bold;
      }
    }

    .menu-blogadmin-container {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      gap: 0.5rem; /* Adjusted to fit better with the overall layout */

      button {
        padding: 10px 20px;
        border: none;
        background-color: #000000; /* Changed to black */
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #333333; /* Darker shade for hover effect */
        }
      }
    }
  }

  .bottom-blogadmin-container {
    .ant-table {
      width: 100%;
    }

    .image-container {
      display: flex;
      align-items: center;

      .main-image {
        border-radius: 5px;
      }
    }
  }

  .delete-confirm-modal {
    .ant-modal-body {
      padding: 20px;
    }
  }
}

.custom-pagination-button {
  cursor: pointer;
}

.read-more {
  color: blue;
  cursor: pointer;
}

.delete-confirm-modal .ant-modal-content {
  width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.delete-confirm-modal .ant-modal-confirm-title {
  font-size: 18px;
  font-weight: bold;
}

.delete-confirm-modal .ant-modal-confirm-content {
  margin: 12px 0;
}

.delete-confirm-modal .ant-modal-confirm-btns {
  display: flex;
  justify-content: space-around;
}
