.page-blog-admin-full-width-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 55rem;
  padding-top: 4rem;
  background-color: white;
  box-shadow: none;

  @media (max-width: 1191px) {
    max-width: 90%;
  }
  @media (max-width: 955px) {
    max-width: 95%;
  }

  .header-blog-admin-box {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;

    .title-blogadmin {
      p {
        font-size: 25px; /* Adjust font size */
        font-weight: bold;
      }
    }

    .menu-blogadmin-container {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      gap: 0.5rem; /* Adjust gap */

      .create-blog-button {
        max-width: 100%;
        p {
          background-color: #000000;
          color: rgb(255, 255, 255);
          padding: 3px 10px; /* Adjust padding */
          border: none;
          border-radius: 5px;
          font-size: 14px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: #333333; /* Darker shade for hover effect */
          }
        }
      }
    }
  }

  .bottom-blogadmin-container {
    .ant-table {
      width: 100%;
    }

    .image-container {
      display: flex;
      align-items: center;

      .main-image {
        border-radius: 5px;
      }
    }
  }

  .delete-confirm-modal {
    .ant-modal-body {
      padding: 20px;
    }
  }
}

.custom-pagination-button {
  cursor: pointer;
}

.read-more {
  color: blue;
  cursor: pointer;
}

.delete-confirm-modal .ant-modal-content {
  width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.delete-confirm-modal .ant-modal-confirm-title {
  font-size: 18px;
  font-weight: bold;
}

.delete-confirm-modal .ant-modal-confirm-content {
  margin: 12px 0;
}

.delete-confirm-modal .ant-modal-confirm-btns {
  display: flex;
  justify-content: space-around;
}
