.bike-info-popup {
    z-index: 1; /* Add this line */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .bike-info-popup .bike-image {
    width: 100px;
    height: auto;
    border-radius: 4px;
  }
  
  .bike-info-popup h3 {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .bike-info-popup p {
    margin: 0;
    font-size: 14px;
    color: gray;
  }
  