.home-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  padding-top: 25px; 
}

.main-content {
  display: flex;
  flex-grow: 1;
  padding-left: 10px; 
}

.content-container {
  width: 70%; 
  margin-left: 25rem; 
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

