.nav-main {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    text-align: center;

    p {
        font-size: 1.3rem;
    }
}

@media (max-width: 900px) {
    .nav-main {
        flex-direction: column;
        gap: 1rem;
        text-align: left;
    }
}
