.nav-main {
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    text-align: center;
    @media (max-width: 900px) {
        flex-direction: column;
        gap: 0.5rem;
        text-align: left;
    }

    .nav-item {
        position: relative;
        p {
            font-size: 1.3rem;
        }

        .underline {
            position: absolute;
            bottom: -5px;
            left: 50%; /* Căn giữa theo chiều ngang */
            height: 2px;
            width: 20%; /* Hiển thị 1 nửa */
            background-color: #f39590;
            transform: translateX(-50%); /* Dịch chuyển để đảm bảo nó nằm giữa */
        }
    }
}
