.page-payment-admin-full-width-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  background-color: white;
  box-shadow: none;
  height: 55rem;

  @media(max-width: 1191px) {
    max-width: 90%;
  }

  @media(max-width: 955px) {
    max-width: 95%;
  }

  .header-payment-admin-box {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;

    .title-paymentadmin {
      p {
        font-size: 25px;
        font-weight: bold;
      }
    }

    .menu-paymentadmin-container {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;

      .sort-menu {
        display: flex;
        align-items: center;

        .sort-select {
          background-color: #e3e3e3;
          padding: 0.3rem;
          border-radius: 10px;
          text-align: center;
        }
      }

      .button-create-paymentadmin {
        p {
          background-color: #000000;
          color: rgb(255, 255, 255);
          padding: 5px 20px;
          border: none;
          border-radius: 5px;
          font-size: 14px;
          cursor: pointer;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                      0 1px 3px rgba(0, 0, 0, 0.08);
          transition: all 0.3s ease;
          &:hover {
            background-color: #333333;
          }
        }
      }

      .search-paymentadmin-container {
        input {
          padding: 0.35rem;
          outline: none;
          border: none;
          border-radius: 10px;
          border: thin solid gray;
          font-size: 14px;
        }
      }

      .sandbox-switch {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        label {
          font-size: 14px;
        }
      }
    }
  }

  .bottom-paymentadmin-container {
    .ant-table {
      width: 100%;
    }

    .image-container {
      display: flex;
      align-items: center;

      .main-image {
        border-radius: 5px;
      }
    }
  }

  .delete-confirm-modal {
    .ant-modal-body {
      padding: 20px;
    }
  }
}

.custom-pagination-button {
  cursor: pointer;
}

.read-more {
  color: blue;
  cursor: pointer;
}

.delete-confirm-modal .ant-modal-content {
  width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.delete-confirm-modal .ant-modal-confirm-title {
  font-size: 18px;
  font-weight: bold;
}

.delete-confirm-modal .ant-modal-confirm-content {
  margin: 12px 0;
}

.delete-confirm-modal .ant-modal-confirm-btns {
  display: flex;
  justify-content: space-around;
}
