.blog-new-container {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .blog-list {
        display: grid;
        grid-template-columns: auto auto auto;
        max-width: 100%;
        .blog-item {
            background: #fff;
            margin: 10px;
            width: 100%;
            padding: 20px;
            text-align: left;

            .blog-image-home {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }

            .blog-meta {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                color: #888;

                .blog-date,
                .blog-comments {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }

            h3 {
                font-size: 20px;
                margin: 10px 0;
            }

            p {
                font-size: 16px;
                line-height: 1.5;
            }

            .read-more-btn {
                display: inline-block;
                margin-top: 10px;
                padding: 15px 35px;
                background: linear-gradient(to right, var(--button-bg-hover-color), var(--button-bg-color), var(--button-bg-hover-color), var(--button-bg-color));
                background-size: 200% auto;
                color: white;
                text-transform: uppercase;
                border-radius: 30px;
                text-decoration: none;
                transition: background 0.3s ease, transform 0.3s;
        
                &:hover {
                  background-position: right center;
                }
              }
        }
    }
}
