.collection-header-container {
    width: 100%;
    background-color: #f2f2f2;
    max-height: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem; /* Thêm padding để tránh khoảng trắng */

    @media (max-width: 700px) {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    }
}
