.chart-container {
    width: 80%; // Bạn có thể điều chỉnh lại kích thước theo ý muốn
    max-width: 1000px; // Đặt giới hạn tối đa
    margin: 0 auto; // Canh giữa
    padding-top: 50px; // Thêm khoảng trống phía trên
}
