.component-container {
    display: flex;
    justify-content: end;
    gap: 1rem;
    .profile-component-container{
       text-align: right;
       cursor: pointer;
       p{
        font-size: 1.6rem;
       }
    }
    .cart-component-container{
        cursor: pointer;
        P{
            font-size: 1.8rem;
        }
    }
    
}
