* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari và Opera */
}

a {
  text-decoration: none;
}

p {
  color: #210000;
}

:root {
  --button-bg-color: #fa3e2c;
  --button-bg-hover-color: #f97c37;
}


select{
  border: none;
  outline: none;
  cursor: pointer;
}