* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari và Opera */
}

a {
  text-decoration: none;
}

p {
  color: #210000;
}

:root {
  --button-bg-color: #fa3e2c;
  --button-bg-hover-color: #f97c37;
}

button {
  display: inline-block;
  background: linear-gradient(to right, var(--button-bg-hover-color), var(--button-bg-color), var(--button-bg-hover-color), var(--button-bg-color));
  background-size: 200% auto;
  transition: background 0.3s ease, transform 0.3s;
  outline: none;
  border: none;
}

button:hover {
  background-position: right center;
  cursor: pointer;
}
