.blog-header-container {
  position: relative;
  text-align: center;
  color: white;
  background-image: url('https://bikex-club.myshopify.com/cdn/shop/files/blog_detail-4.jpg?v=1598503894');
  background-size: cover;
  background-position: top center;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .header-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    border-radius: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size: 40px;
      margin: 0;
    }

    .breadcrumb-blogdetail {
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: white;
        text-decoration: none !important;
        transition: color 0.3s ease;

        &:hover {
          color: #ff0000;
          text-decoration: underline;
        }
      }

      span {
        color: white;
        margin-left: 5px;
      }
    }
  }
}

.blog-detail {
  display: flex;
  flex-direction: column; // Đảm bảo các phần tử xếp chồng lên nhau
  align-items: center;
  padding: 20px 0; // Thêm khoảng trống trên và dưới
}

.blog-content {
  width: 50%;
  padding: 20px;
}

.blog-title {
  font-size: 36px;
  margin: 20px 0;
}

.blog-meta {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #888;
  }

  .blog-date,
  .blog-author {
    font-size: 14px;
  }

  .blog-date svg,
  .blog-author svg {
    color: #ff0000;
  }
}

.blog-image {
  border-radius: 5px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.blog-text {
  font-size: 16px;
  line-height: 1.6;

  p {
    margin-bottom: 20px;
  }
}
