.orders-container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 7rem;
  height: 100rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .header-orders-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title-orders-container {
      p {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .menu-orders-container {
      .sort-orders-menu {
        display: flex;
        gap: 1rem;

        .button-create-orderadmin {
          max-width: 100%;
          p {
            background-color: #000000;
            color: rgb(255, 255, 255);
            padding: 3px 10px; /* Giảm padding */
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }

  .ant-table {
    .ant-table-thead > tr > th {
      font-size: 12px;
    }
    .ant-table-tbody > tr > td {
      font-size: 12px;
    }
  }

  .ant-table-row:hover {
    cursor: pointer;
  }
}

.select-status .ant-select-selection-item {
  color: inherit !important;
}

.option-pending {
  color: gold !important;
}

.option-paid {
  color: green !important;
}

.option-packaging {
  color: blue !important;
}

.option-shipping {
  color: cyan !important;
}

.option-delivered {
  color: lime !important;
}

.option-cancelled {
  color: red !important;
}

.option-refunded {
  color: purple !important;
}
