:root {
  --button-bg-color: #fa3e2c;
  --button-bg-hover-color: #f97c37;
}



body, html {
  width: 100%;
  height: 100%;
} 

.news-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 10rem;
  padding: 0;

  .header-container {
    margin-top: -80px;
    position: relative;
    text-align: center;
    color: white;
    background-image: url('https://bikex-club.myshopify.com/cdn/shop/files/blog_detail-4.jpg?v=1598503894');
    background-size: cover;
    background-position: top center;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1; // Đảm bảo header có z-index thấp hơn menu


    .header-content {
      background: rgba(0, 0, 0, 0.7);
      padding: 20px;
      border-radius: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 50px;
        margin: 0;
      }

      .breadcrumb {
        margin: 10px 0;

        a {
          color: white;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: #ff0000;
            text-decoration: underline;
          }
        }

        span {
          color: white;
        }
      }
    }
  }

  .blog-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px; /* Thay đổi khoảng cách giữa các blog-item */
    width: 90%;
    margin: auto;
    justify-content: center;
    padding: 0 20px;
  }

  .blog-item {
    width: calc(50% - 30px); /* Điều chỉnh chiều rộng để phù hợp với gap */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 0;
    overflow: hidden;

    .blog-image {
      width: 100%;
      height: 500px;
      cursor: pointer;
      object-fit: cover;
      border-radius: 0;
    }

    .blog-content {
      padding: 20px;

      .blog-meta {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        font-size: 0.9em;
        color: #777;

        .blog-date {
          display: flex;
          align-items: center;

          svg {
            margin-right: 5px;
            color: #ff6600;
          }
        }
      }

      h2 {
        margin: 0 0 10px;
        font-size: 1.5em;
        cursor: pointer;
        color: #333;
        transition: color 0.3s ease;

        &:hover {
          color: #ff0000;
        }
      }

      p {
        font-size: 1em;
        color: #555;
        line-height: 1.5;
      }

      .read-more-btn {
        display: inline-block;
        margin-top: 10px;
        padding: 15px 35px;
        background: linear-gradient(to right, var(--button-bg-hover-color), var(--button-bg-color), var(--button-bg-hover-color), var(--button-bg-color));
        background-size: 200% auto;
        color: white;
        text-transform: uppercase;
        border-radius: 30px;
        text-decoration: none;
        transition: background 0.3s ease, transform 0.3s;

        &:hover {
          background-position: right center;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 50px 0 50px 0;

    button {
      width: 40px;
      height: 40px;
      border: none;
      background-color: #fa3e2c;
      color: white;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s, transform 0.3s;

      &.active {
        background-color: #f97c37;
      }

      &:hover:not(.active) {
        background-color: #f97c37;
      }

      &:disabled {
        background-color: #fa3e2c;
        cursor: not-allowed;
      }
    }
  }
}
