.bottom-container-admin {
    max-width: 100%;
    background-color: #ffffff;
    .side-bar-container-admin {
        min-width: 14em;
        position: fixed;
        z-index: 2;
        background-color: #ebebeb;
        height: 100%;
        overflow-y: auto;
    }
    .content-container-admin {
        max-width: 100%;
        text-align: left;

        justify-content: center;
    }
}

button {
    background-color: #333;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
   
    transition: all 0.3s ease;
}
