.big-sale-container {
  background-image: url("https://bikex-club.myshopify.com/cdn/shop/files/img-4.jpg?v=1614291618");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  max-width: 100%;
  margin: 10rem 0;

  position: relative;
  .info-big-sale-container {
    max-width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    left: 20%;

    .name-big-sale {
      max-width: 100%;
      p {
        font-size: 110px;
        font-weight: bold;
        color: #fa422d;
      }
    }
    .title-big-sale {
      max-width: 100%;
      p {
        font-size: 36px;
        font-weight: lighter;
        color: rgb(56, 56, 56);
      }
    }
    .button-big-sale {
      max-width: 100%;
      button {
        border-radius: 40px;
        p {
          padding: 1.4rem 3rem;
          font-weight: 600;
          font-size: 1rem;
          color: white;
        }
      }
    }
  }
}