.dt-sc-section-wrapper {
  width: 100%;
  float: left;
  position: relative;
  z-index: 1;
  background-position: center !important;
  background-attachment: scroll !important;
  background-size: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 220px;
  padding-bottom: 350px;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: 50% 941.82px;
  background-size: cover;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}



.dt-sc-deal-banner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dt-sc-deal-banner-content {
  text-align: left;
}

.dt-sc-main-title {
  font-size: 3rem;
  color: #e9573f;

  span {
    color: #fa3e2c;
  }
}

.dt-sc-sub-title {
  font-size: 1.5rem;
  color: #333;
  margin: 1rem 0;
}

.dt-sc-btn {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  border: none;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  text-decoration: none;
  display: inline-block;
  text-align: center;

  &:hover {
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
  }
}
