.list-manage-admin-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  background-color: white;
  box-shadow: none;
  height: 55rem;

  @media (max-width: 1191px) {
    max-width: 90%;
  }

  @media (max-width: 955px) {
    max-width: 95%;
  }

  .header-manage-admin-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;

    .title-header-admin {
      p {
        font-size: 25px;
        font-weight: bold;
      }
    }

    .components-manage-admin-container {
      display: flex;
      gap: 0.5rem;

      .add-manage-admin-container {
        background-color: #000000;
        border-radius: 5px;
        cursor: pointer;
        padding: 0.3rem 1rem;
        font-size: 14px;
        transition: background-color 0.3s ease;
        p {
          color: white;
        }
        &:hover {
          background-color: #333333;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .pagination-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;

    .ant-pagination {
      display: flex;

      .custom-pagination-button {
       
      }
    }
  }
}
