.error-container {
    margin: 10rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .notifi-error {
        p {
            font-size: 3rem;
        }
    }
    .return-error {
        button {
            border-radius: 40px;

            p {
                padding: 1rem 1rem;
                color: white;
            }
        }
    }
}
