.reviews-list {
    margin: 0 auto;
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin-left: 10px;

    .review-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .review-user {
            display: flex;
            align-items: flex-start;

            .review-avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .review-user-info {
                display: flex;
                flex-direction: column;

                .review-username {
                    font-weight: bold;
                    font-size: 1.1em;
                }

                .review-date {
                    color: #888;
                    font-size: 0.9em;
                    margin-top: 5px; /* Thêm khoảng cách giữa tên người dùng và ngày tháng */
                }
            }
        }

        .review-rating {
            display: flex;
            align-items: center;

            .stars {
                color: #fadb14; // Màu vàng cho sao
                font-size: 1.5em; // Tăng kích thước của sao
                margin-right: 10px;
            }
        }
    }

    .review-content {
        margin-top: 10px;
        font-size: 1em;
        line-height: 1.5;
    }
}
