.ordtails-page-container {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 8rem;
    text-align: left;
    height: 100rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 10%;
  
    .ordtails-page-box {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  
      .page-box-header-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        .arrow-id-order {
          display: flex;
          flex-direction: row;
          gap: 0.2rem;
          align-items: center;
          cursor: pointer;
  
          .id-order {
            p {
              font-size: 1.4rem;
              font-weight: bold;
            }
          }
        }
  
        .button-edit-print {
          display: flex;
          flex-direction: row;
          gap: 1rem;
  
          .button {
            background-color: #e3e3e1;
            border-radius: 10px;
            cursor: pointer;
  
            p {
              padding: 0.2rem 1rem;
            }
          }
        }
      }
    }
  
    .ordtails-layout-container {
      max-width: 100%;
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 2rem;
  
      .left-box-layout {
        display: flex;
        flex-direction: column;
        gap: 2rem;
  
        .block-stack-ordtails {
          max-width: 100%;
          background-color: white;
          border-radius: 20px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
          padding: 1rem;
          height: 27rem;
          overflow-y: auto;
  
          /* Hide scrollbar */
          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */
          ::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
          }
  
          .info-ordtails-container {
            display: flex;
            flex-direction: column;
            gap: 2rem;
  
            .product {
              border: thin solid #e7e7e7;
              border-radius: 15px;
              padding: 1rem;
              height: 10rem;
  
              .product-info {
                display: grid;
                grid-template-columns: 1.5fr 2fr 2fr 1fr 1fr;
                gap: 0.5rem;
  
                .image-ordtails {
                  width: 100%;
  
                  img {
                    width: 100px;
                  }
                }
              }
  
              .product-details {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
  
                .color-info-ordtails {
                  p {
                    color: rgb(169, 169, 169);
                  }
                }
  
                .product-price {
                  text-align: right;
                }
              }
            }
          }
        }
  
        .total-price-order-details-admin {
          padding-top: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          background-color: white;
          border-radius: 20px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
          padding: 1rem;
          .total-price-ordtails {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .price-title {
              p {
                font-size: 0.9rem;
                color: rgb(64, 64, 64);
              }
            }
            .price-title-total {
              p {
                font-size: 1.2rem;
                color: #fa422d;
                font-weight: bold;
              }
            }
          }
        }
      }
  
      .right-box-layout {
        background-color: white;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  
        .info-user-ordtails-container {
          display: flex;
          flex-direction: column;
          gap: 1rem;
  
          .customer-ordtails {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .title-cus {
              display: flex;
              flex-direction: row;
              align-items: center;
              p {
                font-weight: bold;
                font-size: 1.3rem;
              }
            }
            .name-cus {
              display: flex;
              flex-direction: column;
              gap: 0.3rem;
              p {
                font-size: 0.9rem;
  
                span {
                  font-weight: bold;
                  color: rgb(69, 69, 69);
                }
              }
            }
          }
          .shipping-ordtails {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .title-ship {
              p {
                font-weight: bold;
                font-size: 1.3rem;
              }
            }
            .address-ship {
              p {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
  