.sort-collect-container {
  max-width: 100%;
  text-align: right;

  .sort-collect-header {
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5rem;

    .title-sort {
      padding-top: 0.2rem;
      p {
        font-size: 1rem;
        color: rgb(0, 0, 0); /* Màu đen cho văn bản "Sort by" */
      }
    }

    .select-sort {
      position: relative;
      display: flex;
      align-items: center;

      .ant-select {
        width: 100%;
      }

      .ant-select-selector {
        background-color: white; /* Nền trắng */
        color: black;
        border-radius: 5px;
        font-size: 0.8rem;
        border: 1px solid #ff6347; /* Viền cam mặc định */
        transition: border-color 0.3s ease;
        width: 100%; /* Chiều rộng nhỏ hơn cho Select */
        text-align: left; /* Căn chữ về bên trái khi chưa chọn */

        display: flex;
        align-items: center; /* Căn giữa theo chiều dọc */

        &:hover, &:focus {
          border-color: #ff6347 !important; /* Viền cam khi hover và focus */
          box-shadow: 0 0 0 2px rgba(250, 66, 45, 0.2); /* Hiệu ứng shadow cam nhẹ khi focus */
        }
      }

      .ant-select-focused .ant-select-selector {
        border-color: #ff6347 !important; /* Viền cam khi Select được focus */
        box-shadow: 0 0 0 2px rgba(250, 66, 45, 0.2); /* Loại bỏ viền xanh focus */
        text-align: left; /* Căn trái khi focus */
      }

      .ant-select-selection-item {
        text-align: left; /* Đảm bảo chữ căn trái khi chọn */
      }

      .ant-select-dropdown {
        border: 1px solid #ff6347; /* Viền cam cho dropdown */
        background-color: white; /* Nền trắng */
      }

      .ant-select-item {
        color: black;
        text-align: left; /* Căn trái các Option */
        &:hover {
          background-color: #ff6347; /* Nền khi hover vào option */
          color: white; /* Màu chữ khi hover vào option */
        }
      }
    }
  }

  @media (max-width: 1250px) {
    .select-sort .ant-select-selector {
      font-size: 0.6rem;
    }
  }
}
