.payments-container {
    padding: 2rem;
    max-width: 100%;
  
    .payments-header {
      display: flex;
      align-items: center;
      gap: 1rem;
  
      .back-arrow {
        font-size: 24px;
        cursor: pointer;
        color: black;
      }
  
      p {
        font-size: 24px;
        font-weight: bold;
      }
    }
  
    .filter-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
  
      .sort-filter,
      .search-filter {
        display: flex;
        align-items: center;
        gap: 1rem;
  
        label {
          font-size: 16px;
          font-weight: bold;
        }
  
        select,
        input {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
        }
      }
    }
  }
  