.collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1rem;

    .product-item {
        width: 100%;
        max-width: 25rem; // Đảm bảo kích thước sản phẩm cố định
        margin-bottom: 20px;

        .product-card {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            transition: transform 0.3s ease-in-out;
            width: 100%;
            height: 100%; // Đảm bảo chiều cao cố định nếu cần

            &:hover {
                transform: translateY(-5px);
            }

            .image-container {
                width: 100%;
                position: relative;
                cursor: pointer;

                .image1-container,
                .image2-container {
                    .main-image,
                    .hover-image {
                        width: 100%;
                        height: auto;
                        transition: opacity 0.3s ease-in-out;
                    }
                }

                .hover-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                &:hover .hover-image {
                    opacity: 1;
                }

                &:hover .main-image {
                    opacity: 0;
                }

                .sale-badge {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background: #fa3e2c;
                    color: #fff;
                    padding: 10px 5px;
                    border-radius: 50%;
                    font-size: 0.9rem;
                    font-weight: bold;
                    z-index: 1;
                }

                .icon-slide-product-home {
                    position: absolute;
                    top: 10%;
                    right: 10%;
                    display: flex;
                    flex-direction: column;

                    .icon-slide-product {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #fa3e2c;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        margin-bottom: 0.5rem;

                        .icon {
                            color: #fff;
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .product-info {
                text-align: center;
                margin-top: 1rem;

                h3 {
                    font-size: 1.2rem;
                    color: #333;
                }

                .price {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    margin-top: 0.5rem;

                    .current-price {
                        color: #fa422d;
                        font-weight: bold;
                    }

                    .original-price {
                        color: #777;
                        text-decoration: line-through;
                    }
                }

                .out-of-stock {
                    p {
                        color: #fa3e2c;
                        font-weight: bold;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}
