.collection-grid {
  height: auto;

  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr)); // Adjust min-width to show 4 products
    gap: 2rem;
  }

  &.list {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .product-item {
    &.grid-item {
      width: 20rem;
    }

    &.list-item {
      display: flex;
      max-width: 20rem;

      .product-card {
        max-width: 20rem;

        .product-info {}
      }
    }

    .product-card {
      width: 20rem;
      display: flex;
      flex-direction: column;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translateY(-2px);
      }

      .image-container {
        max-width: 100%;
        position: relative;
        cursor: pointer;

        .image1-container,
        .image2-container {
          .main-image,
          .hover-image {
            width: 100%;
            height: auto;
            transition: opacity 0.3s ease-in-out;
          }
        }

        .hover-image {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }

        &:hover .hover-image {
          opacity: 1;
        }

        &:hover .main-image {
          opacity: 0;
        }

        .sale-badge {
          position: absolute;
          top: 10px;
          left: 10px;
          background: #fa3e2c;
          color: #fff;
          padding: 8px 4px;
          border-radius: 50%;
          font-size: 0.6rem;
          font-weight: bold;
          z-index: 1;
        }

        .icon-slide-product-home {
          position: absolute;
          top: 10%;
          right: 10%;
          display: flex;
          flex-direction: column;

          .icon-slide-product {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fa3e2c;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-bottom: 0.5rem;

            .icon {
              color: #fff;
              font-size: 1rem;
            }
          }
        }
      }

      .product-info {
        text-align: center;
        margin-top: 1rem;

        h3 {
          font-size: 1.2rem;
          color: #333;
        }

        .price {
          display: flex;
          justify-content: center;
          gap: 10px;
          margin-top: 0.5rem;

          .current-price {
            color: #fa422d;
            font-weight: bold;
          }

          .original-price {
            color: #777;
            text-decoration: line-through;
          }
        }

        .out-of-stock {
          p {
            color: #fa3e2c;
            font-weight: bold;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }

  .no-products {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 2rem;

    p {
      font-size: 1.5rem;
      color: #fa3e2c;
    }
  }

  .pagination {
    display: flex;
    justify-content: center; // Center the pagination
    margin-top: 2rem;
    list-style: none;
    padding: 0;
    
    li {
      margin: 0 0.3rem;
      cursor: pointer;

      &.active a {
        background-color: #fa3e2c; // Dark color for the current page
        color: #fff;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }

      &.page a {
        background-color: #f66153; // Light color for other pages
        color: #fff;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
      }

      &.disabled a {
        background-color: #f6a6a0;
        color: #fff;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: not-allowed;
      }

      a {
        display: block;
        padding: 0.5rem 1rem;
        color: #ffffff;
        text-decoration: none;
      }
    }

    .prev,
    .next {
      background-color: #f66153;
      color: #fff;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #fa3e2c;
      }

      &.disabled {
        cursor: not-allowed;
      }
    }
  }
}
