.add-brand-admin {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media(max-width:1120px){
        max-width: 80%;
    }
    @media(max-width:759px){
        max-width: 95%;
    }
    .title-brand-container {
        display: flex;
        align-items: center;
        cursor: pointer;

        .arrow-back-brand {
            margin-right: 1rem;
            p {
                font-size: 1.2rem;
            }
        }

        .title-add-brand {
            p {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            font-weight: bold;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .error {
            color: red;
            font-size: 0.875rem;
            margin-top: 0.5rem;
        }
    }

    .submit-button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #1890ff;
        color: white;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #40a9ff;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }
    }

    .message {
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
    }
}
